.home-bg{
 background-image: url("/static/img/hateruma.jpg");
 background-size: cover;
 background-attachment: fixed;
 }
 /*背景を暗くする*/
.home-bg::before{
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
/*タイトル文字*/

.home-title{
  height:85vh;
  }
.home-title h1{
  position: relative;
  color: white;
  font-size:5.0em;
  margin-top: 10vh;
  margin-bottom: 5vh;
  padding-top:25vh;
  padding-bottom:5vh;
  width:100%;
  text-align: center;
  z-index:1;
}

.home-title h5{
  position: relative;
  color: white;
  text-align: center;
  padding-bottom:25vh;
  width:100%;
  z-index:1;
  }


.home-card{
  }