@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
body{
 font-family: 'M PLUS Rounded 1c', sans-serif;
  }

.home-bg{
 background-image: url("/static/img/hateruma.jpg");
 background-size: cover;
 background-attachment: fixed;
 }
 /*背景を暗くする*/
.home-bg::before{
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
/*タイトル文字*/

.home-title{
  height:85vh;
  }
.home-title h1{
  position: relative;
  color: white;
  font-size:5.0em;
  margin-top: 10vh;
  margin-bottom: 5vh;
  padding-top:25vh;
  padding-bottom:5vh;
  width:100%;
  text-align: center;
  z-index:1;
}

.home-title h5{
  position: relative;
  color: white;
  text-align: center;
  padding-bottom:25vh;
  width:100%;
  z-index:1;
  }
.home-profile {
  margin: 4vh;
  
  }


h2{
  position: relative;
  color: white;
  font-size:3.5em;
  margin-top: 10vh;
  width:100%;
  text-align: center;
  z-index:1;
  }

.home-profile-contents{
  text-align: center;
  margin:5% auto;
  }

.home-profile img{
  position: relative;
  border-radius: 30px;
  height:60vh;
  min-width:200px;
  z-index:1;
  }
  
.home-profile table{
  padding-left:0;
  position: relative;
  float:right;
  color: white;
  }
  
.home-profile th {
  text-align: left;
  font-size: 30px;
}
.home-profile td {
  font-size: 20px;
  text-align: left;
}

.home-card{
  clear:both;
  }


/*矢印*/
.allow {
  padding-top: 50px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
}
.allow span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
.allow span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.allow span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
.allow span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
