{% extends 'base.html' %}


{% block header %}
{% endblock header %}
{% block content %}
<body class ="blog-bg">
    <div class ="sub-title">
      <h1>Blog</h1>
    </div>
  <div class ='container'>
    <div class="blog-list">
    <h3>記事一覧</h3>
    {% for item in object_list %}
      
      
      <div class="card bg-light mb-3" style="width: 100%">
        <div class="card-body">
        <a href="{% url 'blogdetail' item.pk%}">
          <h5 class="card-title">{{item.title}}</h5>
        </a>
          <p class="card-text">{{item.content}}</p>
          <p class="card-text">{{item.date | date:"Y年n月j日" }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
{% endblock content %}