{% extends 'base.html' %}
{% load static %}
{% block header %}
{% endblock header %}

{% block content %}
<body class ="home-bg">
  <div class ="container">
    <div class ="home-title">
      <h1>HIROKI TOKUHISA<br>WEB SITE</h1>
      <h5>こちらは徳久弘樹のウェブサイトです。</h5>
      <div class="allow"><span></span><span></span><span></span></div>
    </div>
    <div class ="home-profile">
      <h2>About Me</h2>
      <div class ="home-profile-contents">
        <img src="{% static 'img/pikachu.jpg' %}" alt="pikachu"/>
        <table border="0">
          <tr>
            <th>経歴</th>
          </tr>
          <tr>
            <td>1994年 東京都墨田区生まれ</td>
          </tr>
          <tr>
            <td>2013年 私立東洋高校卒業</td>
          </tr>
          <tr>
            <td>2014年 明治大学総合数理学部入学</td>
          </tr>
          <tr>
            <td>2018年 明治大学総合数理学部卒業</td>
          </tr>
          <tr>
            <td>2018年 明治大学大学院先端数理科学研究科入学</td>
          </tr>
          <tr>
            <td>2020年 明治大学大学院先端数理科学研究科修了（工学）</td>
          </tr>
          <tr>
            <td>2020年 某モバイル企業に無線通信エンジニアとして就職</td>
          </tr>
          <tr>
            <th>できること</th>
          </tr>
          <tr>
            <td>Python(Django), HTML, CSS, PHP, AWS（Web周り）</td>
          </tr>
          <tr>
            <th>好きなもの</th>
          </tr>
          <tr>
            <td>旅行、沖縄、FC東京、Atlético de Madrid、カメラ</td>
          </tr>
        </table>
        </div>
    </div>

    <div class ="home-card">
     <h2>Contents</h2>
      <div class="card" style="width: 18rem; display: inline-block;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
        <div class="card-body">
          <h5 class="card-title">Profile</h5>
          <p class="card-text">自己紹介</p>
          <a href="{% url 'profile' %}" class="btn btn-primary">こちら</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem; display: inline-block;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
        <div class="card-body">
          <h5 class="card-title">blog</h5>
          <p class="card-text">旅とサッカーの話</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem; display: inline-block;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
        <div class="card-body">
          <h5 class="card-title">ギャラリー</h5>
          <p class="card-text">趣味で撮った写真のギャラリー</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem; display: inline-block;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
        <div class="card-body">
          <h5 class="card-title">活動</h5>
          <p class="card-text">学生時代の研究活動</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem; display: inline-block;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
        <div class="card-body">
          <h5 class="card-title">連絡先になりそうなもの</h5>
          <p class="card-text">何かあればこちらまで</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content %}